@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.stepsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.125rem;;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.stepWrapper {
  display: flex;
  flex-direction: row; /* Change from column to row */
  align-items: center; /* Align icon and text vertically */
  padding-right: 1.25rem;
  padding-left: 0.625rem;

}

.stepIcon {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%; 
  align-items: center;
  justify-content: center;
}

.stepWrapper.active {
  background-color: #F2F4F5;
  border-radius: 50px; 
}

.stepIcon svg.active{
  background-color: #486A75;
}

.stepIcon img {
  width: 1.5rem; /* Adjust the icon size */
  height: 1.5rem;
}

.stepLabel {
  font-size: 0.9rem;
  font-weight: 500;
  color:   #486A75;
  text-align: left; /* Align text properly */
  white-space: nowrap; /* Prevents text from wrapping */
}

.stepLine {
  width: 100%;
  height: 0.125rem;
  background-color: #e0e0e0;
  margin: 0 0.625rem;
}

.stepWrapper:not(:last-child) .stepLine {
  background-color: #e0e0e0;
}

.active + .stepLine {
  background-color: #7C9BA5; /* Blue line for active */
}

.checkIcon{
  background-color: #486A75; /* Blue line for active */
  padding: 0.1875rem;
  border-radius: 45px;
}