@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    width: 100%;
    height: 100%;
    padding: 1.25rem !important;
    box-sizing: border-box !important;
    background-color: #ffffff !important;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.headContainer{
    display: flex; /* Enables flexbox */
    align-items: center; /* Vertically centers children (h2 and label) */
    gap: 0.625rem; /* Adds spacing between h2 and label */
    padding-bottom: 1.25rem;

}

.headContainer label {
    background-color: #F2F4F5;
    color: #000;
    border-radius: 50px;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center; 
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    width: 9.42%;
    padding: 0;
    height: 1.875rem;
    font-family: 'Montserrat', sans-serif;
}

.continueButton {
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: #486A75;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1.25rem; /* Adds spacing from the content above */
    text-align: center;
    align-self: flex-end; /* Pushes button to the right inside a flex container */
}

.continueButton:hover {
    background-color: #349c7c; /* Lighter red on hover */
}

.headContainer h2{
    padding: 0.32rem;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    display: flex; /* Enables flexbox */
    text-align: center; /* Centers text horizontally */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}

.secondheadContainer{
    display: flex;
    gap: 0.625rem;
    flex-direction: column; /* Stacks items vertically */
}

.firstsecHeader{
    background-color: #1C252A;
    color: #ffffff;
    text-align: center; /* Centers text horizontally */
    justify-content: center; /* Centers content horizontally */
    padding: 0.625rem;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    font-weight: 600;
}

.secondsecHeader{
    background-color: #F2F4F5;
    color: #526067;
    text-align: center; /* Centers text horizontally */
    justify-content: center; /* Centers content horizontally */
    padding: 0.625rem;
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}

.details {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 1.25rem !important;
}

.detailsBox {
    padding: 0.625rem !important;
    border-radius: 18px !important;
    margin-bottom: 0.625rem !important;
    display: flex !important;
    justify-content: space-between !important;
}

.details > p {
    margin: 0 !important;
}

.buttons {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 0.625rem !important;
}

.button {
    padding: 0.625rem 1.25rem !important;
    border: none !important;
    border-radius: 18px !important;
    background-color: #007bff !important;
    color: white !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

.button:hover {
    background-color: #0056b3 !important;
}

.expressLaunching {
    background-color: #000 !important;
    color: white !important;
    padding: 0.625rem !important;
    text-align: center !important;
    margin-bottom: 0.625rem !important;
    border-radius: 5px !important;
}

.audienceTargeting {
    background-color: #e0e0e0 !important;
    padding: 0.625rem !important;
    text-align: center !important;
    margin-bottom: 0.625rem !important;
    border-radius: 18px !important;
}

.tableContainer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    background-color: white !important;
    border-radius: 18px !important;
    padding: 0.94rem !important;
    overflow-x: auto !important;
}

.table {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr) !important; /* Adjust based on the number of columns */
    gap: 0.625rem !important;
}

.metaAds {
    font-weight: bold !important;
    background-color: #1C252A !important;
    color: #FFFFFF !important;
    font-family: 'Poppins', sans-serif;
}

.tableCellBox{
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F2F4F5 !important;
    color: #526067 !important;
    border: 1px solid white !important;
    font-weight: bold;
    font-size: 0.75rem !important;
}

.levelHeader {
    background-color: #02B194 !important;
    font-weight: bold !important;
    color: #FFFFFF !important;
}

/* Header-specific colors */
.levelHeader1 {
    background-color: #02B194 !important;
}

.levelHeader2 {
    background-color: #FFC456 !important;
}

.levelHeader3 {
    background-color: #E86A6D !important;
}

.levelHeader4 {
    background-color: #0288D1 !important;
}

.planWeek {
    background-color: #ffffff !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.startingDay {
    background-color: #ffffff !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.invest {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.numAds {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.toMessages {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.toLink {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.dailyBudget {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text alignment */
}

.analysisTable {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 1.25rem !important;
}

.analysisTable th,
.analysisTable td {
    border: 1px solid #ddd !important;
    padding: 0.5rem !important;
}

.downloadButton,
.uploadButton {
    background-color: #3b8070 !important;
    color: white !important;
    padding: 0.625rem !important;
    margin: 0.625rem !important;
    border: none !important;
    cursor: pointer !important;
}

@media (min-height: 1080px) {
    .container {
        height: 92.5vh;
    }
}

