@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
    padding: 2rem; 
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
}

.tabContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    gap: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2c2c2c;
    text-align: left;
}

.description {
    font-size: 0.875rem;
    color: #7a7a7a;
    margin-top: 0.625rem;
    text-align: left;
}

.loader {
    padding-bottom: 4.4rem;
    padding-top: 4.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 12.5rem;
    height: auto;
    margin-bottom: 1.875rem;
}

.loadingText {
    font-size: 1rem;
    font-weight: 500;
    color: #4a4a4a;
    margin-bottom: 1.25rem;
}

.progressBar {
    background-color: #e0e0e0;
    height: 0.5rem;
    width: 100%; /* Make it span the full width of the container */
    margin: 1.25rem auto;
    border-radius: 10px;
    position: relative;
    max-width: 37.5rem;
}

.progress {
    background-color: #3b8070;
    height: 100%;
    border-radius: 10px;
}

.percentage {
    font-size: 1rem;
    color: #4a4a4a;
    margin-top: 0.625rem;
}

@media (min-height: 1080px) {
    .container {
        height: 92.5vh;
    }
}

@media (max-width: 1921px) {
    .container {
        height: 95.5vh;
    }
  }
  
  @media (max-width: 1392px) {
    .container {
        height: 98.5vh;
    }
  }
  
  @media (max-width: 600px) {
    .container {
        height: 100%;
    }
  }
  
  @media (max-width: 1200px) {
    .container {
        height: 100%;
    }
  }
  
  @media (max-height: 1440px) {
    .container {
        height: 92.5vh;
    }
  }
  
  @media (max-height: 1207px) {
    .container {
        height: 90.5vh;
    }
  }
  
  @media (max-height: 1180px) {
    .container {
        height: 100%
    }
  }
  
  @media (max-height: 932px) {
    .container {
        height: 100%
    }
  }
  
  @media (min-width: 1920px) {
    .container {
        height: 90.5vh;
    }
  }
  
  @media (min-width: 2000px) {
    .container {
        height: 92.5vh;
    }
  }
  
  @media (width: 820px) and (height: 1180px) {
    .container {
        height: 91.5vh;
    }
  }