.container {
    width: 100% !important;
    padding: 20px !important;
    box-sizing: border-box !important;
    overflow-x: auto !important;
}

.title {
    font-size: 1.2em !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
}

.details {
    display: flex !important;
    flex-direction: column !important;
    margin-bottom: 20px !important;
}

.detailsBox {
    background-color: #f5f5f5 !important;
    padding: 10px !important;
    border-radius: 18px !important;
    margin-bottom: 10px !important;
    display: flex !important;
    justify-content: space-between !important;
}

.details > p {
    margin: 0 !important;
}

.buttons {
    display: flex !important;
    justify-content: flex-end !important;
    gap: 10px !important;
}

.button {
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 18px !important;
    background-color: #007bff !important;
    color: white !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

.button:hover {
    background-color: #0056b3 !important;
}

.expressLaunching {
    background-color: #000 !important;
    color: white !important;
    padding: 10px !important;
    text-align: center !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
}

.audienceTargeting {
    background-color: #e0e0e0 !important;
    padding: 10px !important;
    text-align: center !important;
    margin-bottom: 10px !important;
    border-radius: 18px !important;
}

.tableContainer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
    background-color: white !important;
    border-radius: 18px !important;
    padding: 15px !important;
    overflow-x: auto !important;
}

.table {
    display: grid !important;
    grid-template-columns: repeat(8, 1fr) !important; /* Adjust based on the number of columns */
    gap: 10px !important;
}

.metaAds {
    font-weight: bold !important;
    background-color: #1C252A !important;
    color: #FFFFFF !important;
}

.levelHeader {
    background-color: #02B194 !important;
    font-weight: bold !important;
    color: #FFFFFF !important;
}

/* Header-specific colors */
.levelHeader1 {
    background-color: #02B194 !important;
}

.levelHeader2 {
    background-color: #FFC456 !important;
}

.levelHeader3 {
    background-color: #E86A6D !important;
}

.levelHeader4 {
    background-color: #0288D1 !important;
}

.planWeek {
    background-color: #ffffff !important;
    color: black !important;
}

.startingDay {
    background-color: #ffffff !important;
    color: black !important;
}

.invest {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
}

.numAds {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
}

.toMessages {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
}

.toLink {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
}

.dailyBudget {
    background-color: #BBCCD1 !important;
    font-weight: bold !important;
    color: black !important;
}

.analysisTable {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 20px !important;
}

.analysisTable th,
.analysisTable td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}

.downloadButton,
.uploadButton {
    background-color: #3b8070 !important;
    color: white !important;
    padding: 10px !important;
    margin: 10px !important;
    border: none !important;
    cursor: pointer !important;
}
