@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


/* Container for the ad creative page */
.adCreativeContainer {
    text-align: center;
    padding: 3.125rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: auto;
    height: 95vh;
}

.divider{
    width: 100%;
    height: 7rem;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: auto;
}

.headingUpload {

    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #333;
    margin: 1.25rem;
    margin-top: auto;
}

.descriptionContainer {
    text-align: left;
}

.heading {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 0.625rem;
}

.paragraph {
    font-weight: 400;
    color: #526067;
    font-size: 1rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.uploadContainer{
    width: 100%;
    padding: 0.5rem;
    padding-left: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

/* Upload section */
.uploadSection {
    border: 2px dashed #526067;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 8vw;
    padding-left: 8vw;
    border-radius: 12px;
    background-color: #ffffff;
    position: relative;
    text-align: center;
    transition: border-color 0.3s ease;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagePreview {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #E1E8EB;
    gap: 1vw;
    padding: 1vw;
    border-radius: 8px;
}

.progressContainer {
    padding: 1vw;
    background-color: #f0f0f0;
    border-radius: 8px;
}
.uploadSection:hover {
    border-color: #00bfa6;
}


.imagePreview img {
    width: 4vw;
    height: auto;
    border-radius: 6px;
}

.fileInfo {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fileInfo p {
    margin: 0;
    font-size: 1vw;
    color: #333;
}

.buttons{
    padding: 2.9rem;
    padding-top: 3.5rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-end; /* Push items to the right */
    font-family: 'Poppins', sans-serif;
}

.removeButton {
    background-color: #F2F4F5;
    border: none;
    color: #486A75;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 0.5vw;
    width: 2.19rem;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    margin-left: auto; /* Pushes the button to the right */
}

.uploadLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.uploadLabel p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}

.uploadLabel span {
    display: block;
    margin-bottom: 1rem;
    color: #999;
}

.uploadLabel img {
    display: block;
    padding: 2vw;
    color: #999;
}

.divimg {
    background-color: #F2F4F5;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.fileInput {
    display: none;
}

.uploadButton {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1vw 2vw;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.uploadButton:hover {
    background-color: #f5f5f5;
}

.backButton, .continueButton {
    font-size: 0.875;
    padding: 5px;
    width: 20%;
    color: #486A75;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #486A75; /* Adds a solid border */
}

.backButton:hover, .continueButton:hover {
    background-color: #486A75;
    color: #ffffff;
}

.fileInfo p{
    font-size: 1rem;
}