@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Wrapper to center the nameContainer */
.nameContainerWrapper {
    display: flex;
    height: 650px; /* Adjust as needed */
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.descriptionContainer{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.descriptionContainer h2{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.inpContainer{
    display: flex;
    align-items: center;
    width: 100%; /* Ensures container takes full width */
    gap: 20px; /* Adds spacing between the label and input */
}

.secContainer h2{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-size: 14px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensures container takes full width */
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.inputWrapper input{
    font-size: 10px;
    font-weight: lighter;
}

.inputWrapper input::placeholder {
    color: #222222;
    font-weight: normal; /* Adjust weight if needed */
    opacity: 1; /* Ensures the color is fully visible */
}

.secContainer{
    padding-top: 90px;
    padding-left: 160px;
    padding-right: 160px;
    padding-bottom: 140px;
}

.inputWrapper label{
    margin-bottom: 10px;
}

.paragraph{
    font-size: 15px;
    color: #526067;
    font-family: 'Montserrat', sans-serif;
}

/* Input styling */
.input {
    padding: 10px; /* Increased padding */
    width: 100%;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 2px solid #526067;
    font-size: 18px; /* Increased font size */
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #00bfa6;
}

/* Button group */
.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    gap: 10px
}

.backButton, .sendButton {
    font-size: 14px;
    padding: 5px;
    width: 20%;
    color: #486A75;
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid #486A75; /* Adds a solid border */
    font-family: 'Poppins', sans-serif;
}

.backButton:hover, .sendButton:hover {
    background-color: #486A75; /* Darker green on hover */
    color: #ffffff;
  }

.heading{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.paragraph{
    font-size: 15px;
    color: #526067;
    font-family: 'Montserrat', sans-serif;
}