@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Container for the strategy section */
.strategyContainer {
  text-align: center;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.headerLabel {
  padding-bottom: 0.625rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.description {
  font-weight: 400;
  color: #526067;
  font-size: 1rem;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.headings{ /* "CHOOSE YOUR STRATEGY" */
  font-weight: bold;
  color: #333;
  margin: 1.25rem;
  text-align: left;
  margin-top: 1.25rem;
}

/* Group of cards */
.cardGroup {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
}

/* Individual card styles */
.card {
  width: 30%;
  padding: 2rem;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 17rem;
}

/* Image within the card */
.card img {
  max-width: 6.25rem;
  margin-bottom: 1.25rem;
}

.cardTitle {
  font-weight: 600;
  color: #486A75;
  font-size: 0.8rem;
  margin-bottom: 0.625rem;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  border: 1px solid #486A75; /* 3px is the border thickness */
}

/* Locked card styles */
.locked {
  opacity: 0.6;
  pointer-events: none;
  border-color: #e0e0e0;
}

.locked h3, .locked p {
  color: #486A75;
  font-size: 0.75rem;
}

/* Active card styling */
.active {
  border-color: #BBCCD1;
}

/* Text styling for card descriptions */
.card p {
  font-size: 0.75rem;
  color: #526067;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  padding-top: 3%;
  font-family: 'Poppins', sans-serif;
  gap: 1rem;
}


.dlButton, .conButton {
  font-size: 0.9rem;
  padding: 0.1rem 5%;
  color: #486A75;
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #486A75; /* Adds a solid border */
}

.dlButton:hover, .conButton:hover {
  background-color: #486A75; /* Darker green on hover */
  color: #ffffff;
}

/* @media (width: 412px) and (height: 915px) {
  .strategyContainer {
    height: 100% !important;
  }
} */

@media (max-width: 1456px) {
  .strategyContainer {
    height: 100%;
}

  .cardGroup {
    display: flex;
    gap: 1.875rem;
    flex-direction: column;
  }
  /* Individual card styles */
  .card {
    width: 100%;
    padding: 2.5rem;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 17rem;
  }
}

@media (height: 938px) {
  .strategyContainer {
    height: 89.5vh !important;
  }
}

@media (width: 2560px) and (height: 1440px) {
  .strategyContainer {
    height: 92.5vh !important;
  }
}

@media (width: 1920px) and (height: 1080px) {
  .strategyContainer {
    height: 90.5vh !important;
  }
}


/* @media (height: 844px) {
  .strategyContainer {
    height: 100%;
  }
}

@media (height: 896px) {
  .strategyContainer {
    height: 100%;
  }
}

@media (height: 1080px) {
  .strategyContainer {
    height: 90.5vh;
  }
} */


