@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* Wrapper to center the progress container */
.progressContainerWrapper {
    text-align: center;
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.headerLabel {
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    font-family: 'Poppins', sans-serif;
  }

.description {
    font-weight: 400;
    color: #526067;
    font-size: 1rem;
    text-align: left;
    font-family: 'Poppins', sans-serif;
  }

/* Text for the status message */
.progressContainerWrapper p {
    font-size: 1.375rem; /* Increased font size */
    color: #526067;
    margin: 1.25rem 0;
    font-weight: 600;
}

/* Text for the status message */
.campaignImage {
    padding-top: 5rem;
    width: 15rem; /* Increased size */
    height: auto;
    margin-bottom: 1.9rem; /* Increased margin for spacing */
}

/* Progress bar container - increased height */
.progressBar {
    width: 90%; /* Increased width */
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 1.9rem auto;
    height: 1rem; /* Increased height */
}

/* Progress bar (filled portion) */
.progress {
    height: 100%;
    background-color: #526067;
    transition: width 0.5s ease; /* Smooth transition effect */
}

/* Loading text */
.loadingText {
    color: #666;
    font-size: 1.1rem; /* Slightly increased font size */
    margin-top: 1.25rem;
}

@media (min-height: 1080px) {
    .progressContainerWrapper {
        height: 92.5vh;
    }
  }
