body {
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding-top: 2rem;
    text-align: center;
    height: 92.5vh;
    background-color: #FFFFFF;
    border-radius: 1rem;
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.3s ease;
    margin: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-content {
    text-align: left;
    padding: 1rem;
  }

  .toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    padding-top: 1rem;
  }
  
  .price {
    margin: 0.5rem 0;
  }
  
  .feature-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 0.8rem;
  }
 
  @media (max-width: 554px){
    .container {
      height: 100vh;
    }
  }

  @media (max-width: 1522px) {
    .card {
      width: 30%;
    }
  }

  @media (max-width: 1426px) {
    .card {
      width: 29.5%;
      height: 35rem;
    }
  }

  @media (max-width: 1301px) {
    .card {
      width: 29%;
    }
  }

  @media (max-width: 1206px) {
    .card {
      width: 28%;
      height: 38rem;
    }
  }

  @media (max-width: 930px) {
    .card {
      width: 70%;
      height: 30rem;
      overflow: 'auto';
    }

    .container {
      height: 100%;
      padding-bottom: 1rem;
    }
  }

  @media (max-width: 600px) {
    .card {
      height: 36rem;
      width: 100%;
      overflow: 'auto'
    }
  }

  
  @media (max-height: 900px) {
    .container{
      height: 100%;
    }
  }