.card {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  width: 1345px;
  gap: 20px;
  justify-content: space-between;
  padding: 24px;
  border: 1px solid #e1e8eb;
}

@media (max-width: 991px) {
  .card {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.metricsContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .metricsContainer {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.metricGroup {
  display: flex;
  gap: 16px;
}

.iconWrapper {
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Increase the width */
  height: 50px; /* Increase the height */
  margin: auto 0;
  padding: 0 15px;
}

.budgetIcon {
  background-color: #f2f4f5;
}

.warningIcon {
  background-color: #ffefef;
}

.successIcon {
  background-color: #eaffeb;
}

.icon {
  width: 50px; /* Increase the width */
  height: 50px; /* Increase the height */
}

.metricInfo {
  display: flex;
  flex-direction: column;
}

.metricLabel {
  color: #526067;
  font: 500 13px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.metricValue {
  color: #1c252a;
  margin-top: 4px;
  font: 600 24px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

.legend {
  border-radius: 8px;
  background-color: #fff;
  align-self: flex-end;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  font-size: 10px;
  color: #526067;
  font-weight: 400;
  white-space: nowrap;
  justify-content: center;
}

@media (max-width: 991px) {
  .legend {
    white-space: initial;
  }
}

.legendItems {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .legendItems {
    white-space: initial;
  }
}

.legendItem {
  display: flex;
  font-size: 110%;
  gap: 8px;
}

@media (max-width: 991px) {
  .legendItem {
    white-space: initial;
  }
}

.legendDot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: auto 0;
}

.goodDot {
  background-color: #09a610;
}

.averageDot {
  background-color: #222;
}

.badDot {
  background-color: #a60909;
}

.legendText {
  font-family: Poppins, sans-serif;
}
