@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.adSetDetailContainer {
  padding: 24px;
  background-color: #ffffff;
  width: 100%;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.adSetDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  font-family: 'Poppins', sans-serif !important;
}

.adSetName {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #1c252a;
}

.closeButton {
  background-color: transparent;
  color: #1c252a;
  border: none;
  cursor: pointer;
}

.adSetDetailContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 24px; /* Space between content and AI response */
}

.adCreative {
  width: 750px;
  height: 750px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 24px;
  background-color: #e0e0e0;
  padding: right 50px;
}

.budgetContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 50px;
  width: 100%;
}

.budgetCard {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 55px 50px;
  display: flex;
  justify-content: left;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  gap: 30px;
}

.iconWrapper {
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Increased size */
  height: 70px; /* Increased size */
  margin: auto 0;
  padding: 0 20px; /* Adjusted padding */
}

.budgetInfo{
  display: flex;
  flex-direction: column;
  text-align: left !important;
  padding: 0;
}

.budgetIcon {
  font-size: 24px;
  margin-bottom: 8px;
}

.budgetLabel {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #777777;
}

.budgetValue {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1c252a;
}

.green { color: #00bfa5; }
.red { color: #f44336; }
.yellow { color: #ffeb3b; }

.aiResponseContainer {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 24px;
  background-color: #f9f9f9;
  width: 100%; /* Ensure it spans the full width */
}

.aiResponseTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.aiResponseContent {
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
