@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.adSetDetailContainer {
  display: flex;
  padding: 1rem;
  background-color: #ffffff;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

.adSetDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.closeButton {
  background-color: transparent;
  color: #1c252a;
  border: none;
  cursor: pointer;
}

.adSetDetailContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.adCreative {
  display: flex;
}

.adCreative img {
  width: 500px;
  height: 300px;
  object-fit: contain;
}

.budgetContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.leftBudgetContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.rightBudgetContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.budgetCard {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
  gap: 1rem;
}

.iconWrapper {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.budgetInfo{
  display: flex;
  flex-direction: column;
  text-align: left !important;
  padding: 0;
}

.budgetIcon {
  font-size: 24px;
  margin-bottom: 8px;
}

.budgetLabel {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #777777;
}

.budgetValue {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1c252a;
}

.green { color: #00bfa5; }
.red { color: #f44336; }
.yellow { color: #ffeb3b; }

.aiResponseContainer {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 24px;
  background-color: #f9f9f9;
  width: 100%; /* Ensure it spans the full width */
}

.aiResponseTitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.aiResponseContent {
  font-style: italic;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.adDescription {
  padding: 0.5rem;
}
