@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
  /*GENERAL STYLE*/
.container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    width: 100%;
    gap: 1rem;
  }

  .summaryCard {
    background-color: #fff;
    display: flex;
    width: 100%;
    border-radius: 15px;
    height: 100%;
  }

  .summaryContainer{
    display: flex;
    gap: 1rem;
  }

  .summaryItem{
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  .summaryContent{
    display: flex;
    flex-direction: column;
    width: 11rem;
  }

  .iconWrapper {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%; 
    height: 75%;
    height: 55px;
    margin: auto 0;
  }

  .budgetIcon{
    background-color: #F2F4F5;
  }

  .warningIcon {
    background-color: #ffefef;
  }

  .successIcon {
    background-color: #eaffeb;
  }

  .successIcon img {
    width: 35%;
    height: 55%;
  }
  
  .legend {
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: flex-end; /* Push children to the bottom */
  }  

  .legendItems {
    display: flex;
    gap: 15px;
  }

  .legendItem {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  
  .legendDot {
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
  }

  .legendDotGood {
    background-color: #09a610;
  }
  
  .legendDotAverage {
    background-color: #222;
  }
  
  .legendDotBad {
    background-color: #a60909;
  }
/* 
  @media (min-width: 1440px){ */

    /* .summaryContent{
      width: 180px;
    } */

    /* .iconWrapper {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 75%; 
      height: 55px;
      margin: auto 0;
    } */

    /* .budgetIcon{
      background-color: #F2F4F5;
    }

    .warningIcon {
      background-color: #ffefef;
    }

    .successIcon {
      background-color: #eaffeb;
    } */

    /* .successIcon img {
      width: 35%;
      height: 55%;
    } */

    /* .legendItems {
      display: flex;
      gap: 15px;
    }
     */
    /* .legendItem {
      display: flex;
      align-items: center;
      gap: 7px;
    } */
    
    /* .legendDot {
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  } */

  /* FOR EXTRA LARGER SCREENS
  @media (min-width: 1920px){

    .summaryItem{
      gap: 15px;
    }

    .summaryContent{
      width: 180px;
    }

    .iconWrapper {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 75%;
      height: 55px;
      margin: auto 0;
    }

    .budgetIcon{
      background-color: #F2F4F5;
    }

    .warningIcon {
      background-color: #ffefef;
    }

    .successIcon {
      background-color: #eaffeb;
    }

    .successIcon img {
      width: 35%;
      height: 55%;
    }

    .legend{
      display: flex;
      justify-content: flex-end;
    }

    .legendItems {
      display: flex;
      gap: 15px;
    }
    
    .legendItem {
      display: flex;
      align-items: center;
      gap: 7px;
    }
    
    .legendDot {
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  } */
