@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.adTableContainer {
  width: 100%; /* Full width with padding */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between; /* Space between headers */
  background-color: #526067;
  color: #f2f4f5;
  border-radius: 10px;
  padding: 1.1rem;
  font-weight: 600;
}

.tableHeaderCell {
  flex: 1;
  text-align: center; /* Keeps all other cells centered */
}

.tableHeaderCell:first-child {
  flex: 2;
  text-align: left; /* Now this will work */
}


.tableRow {
  display: flex;
  justify-content: space-between; /* Space between cells */
  background-color: #fff;
  border-radius: 10px;
  margin-top: 8px;
  padding: 1.9rem;
  align-items: center;
  cursor: pointer; /* Add pointer cursor to indicate clickability */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.tableCell {
  display: flex;
  flex: 1;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.tableCell:first-child {
  flex: 2;
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  padding-right: 0.5rem;
}

.metricValue {
  padding: 4px 8px;
}

.goodMetric {
  color: #09a610;
}

.averageMetric {
  color: #222;
}

.badMetric {
  color: #C70E0E;
}

@media (max-width: 770px) {
  
  .tableHeaderCell {
    font-size: 0.8rem;
  }
  
  .tableHeaderCell:first-child {
    font-size: 0.8rem;

  }
  .adTableContainer {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling */
  }
  
  .tableHeader {
    display: none; /* Hide table headers on small screens */
  }
  
  .tableCell{
    padding-bottom: 10px;
  }

}

