@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.adTableContainer {
  width: 100%; /* Full width with padding */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  gap: 1rem;
=======
  gap: 25px;
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706
}

.tableHeader {
  display: flex;
  justify-content: space-between; /* Space between headers */
  background-color: #526067;
  color: #f2f4f5;
  border-radius: 10px;
  padding: 1.1rem;
  font-weight: 600;
<<<<<<< HEAD
=======
  padding: 40px;
  border-radius: 30px;
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706
}

.tableHeaderCell {
  flex: 1;
  text-align: center; /* Keeps all other cells centered */
}

.tableHeaderCell:first-child {
  flex: 2;
  text-align: left; /* Now this will work */
}


.tableRow {
  display: flex;
  justify-content: space-between; /* Space between cells */
  background-color: #fff;
<<<<<<< HEAD
  border-radius: 10px;
  margin-top: 8px;
  padding: 1.9rem;
  align-items: center;
  cursor: pointer; /* Add pointer cursor to indicate clickability */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
=======
  border-radius: 30px;
  margin-top: 8px;
  padding: 35px;
  align-items: center;
  cursor: pointer; /* Add pointer cursor to indicate clickability */
  gap: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

.detailRow { /*back of adsetdetails*/
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 8px;
  padding: 16px;
  align-items: center;
  border-radius: 30px;
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706
}

.tableCell {
  display: flex;
  flex: 1;
<<<<<<< HEAD
  justify-content: center; 
  align-items: center; 
=======
  justify-content: center;  /* Center text horizontally */
  align-items: center;      /* Center text vertically */
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706
  text-align: center;
}

.tableCell:first-child {
  flex: 2;
<<<<<<< HEAD
  display: flex; 
  justify-content: flex-start; 
  align-items: center; 
  padding-right: 0.5rem;
=======
  display: flex; /* Ensure it follows flexbox */
  justify-content: flex-start; /* Align content to the left */
  align-items: center; /* Keep vertical alignment */
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706
}

.metricValue {
  padding: 4px 8px;
}

.goodMetric {
  color: #09a610;
}

.averageMetric {
  color: #222;
}

.badMetric {
  color: #C70E0E;
}

/* .adSetDetailContainer {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 320px;
  margin: 16px auto;
}

.adSetDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.closeButton {
  background-color: #ff4757;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.closeButton:hover {
  background-color: #ff6b81;
} */

/* .metric {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 8px;
} */
<<<<<<< HEAD
=======

.adValues{
  font-size: 35px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706


/* .metricLabel {
  color: #1c252a;
  flex: 1;
}

.metricValue {
  color: #333;
} */

<<<<<<< HEAD
/* @media (max-width: 1920px){
  .tableHeader {
    padding: 15px;
    font-weight: 600;
  }
}

@media (min-width: 1921px) and (max-width: 2560px){
  .tableHeader {
    padding: 20px;
    font-weight: 600;
  }
} */

=======
.adCreative {
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}

/*FOR EXTRA LARGE SCREENS*/
@media (min-width: 2560px) {

  .adValues{
    font-size: 35px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }

}
>>>>>>> ee711c7505f0cef07f0dce9b4e958597aa3b7706
