.container {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  padding: 50px 60px;
  margin: 20px auto;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: #222;
  font: 700 28px Poppins, sans-serif;
  text-align: left;
}

.description {
  color: #526067;
  margin-top: 16px;
  font: 500 18px/32px Montserrat, sans-serif;
  text-align: left;
}

.formContainer {
  border-radius: 16px;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: center;
}

@media (max-width: 991px) {
  .formContainer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.infoText {
  text-align: center;
  margin-bottom: 24px;
  font: 500 18px Poppins, sans-serif;
  color: #222;
}

.formContent {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 991px) {
  .formContent {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.question {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  gap: 20px;
}

.backButton,
.submitButton {
  border-radius: 8px;
  color: #fff;
  white-space: nowrap;
  padding: 16px;
  font: 500 18px Poppins, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
}

.backButton {
  background-color: #6c757d;
}

.submitButton {
  background-color: #007bff;
}

.submitButton:hover {
  background-color: #0056b3;
}

.backButton:hover {
  background-color: #5a6268;
}
