.container {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  padding: 50px 60px;
  margin: 8px auto;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: var(--Layout-800, #222);
  font: 700 28px Poppins, sans-serif;
  text-align: left;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
  }
}

.description {
  color: #526067;
  margin-top: 16px;
  font: 500 18px/32px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: left;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.formContainer {
  border-radius: 16px;
  background-color: #f2f4f5;
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  padding: 60px;
}

@media (max-width: 991px) {
  .formContainer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.formContent {
  display: flex;
  gap: 40px;
}

@media (max-width: 991px) {
  .formContent {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.questionGroup {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 16px;
  color: var(--Layout-800, #222);
  font-weight: 600;
  margin-bottom: 24px;
}

@media (max-width: 991px) {
  .questionGroup {
    margin-top: 40px;
  }
}

.question {
  font-family: Poppins, sans-serif;
  font-size: 18px;
}

.optionsGroup {
  align-self: start;
  display: flex;
  margin-top: 8px;
  gap: 20px;
  font-weight: 400;
  white-space: nowrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .optionsGroup {
    white-space: initial;
  }
}

.optionItem {
  display: flex;
  gap: 8px;
}

@media (max-width: 991px) {
  .optionItem {
    white-space: initial;
  }
}

.checkbox {
  border-radius: 8px;
  background-color: #fff;
  width: 20px;
  height: 20px;
  border: 1px solid #486a75;
}

.optionLabel {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

.selectWrapper {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  margin-top: 8px;
  gap: 20px;
  font-weight: 400;
  justify-content: space-between;
  padding: 16px;
  font-size: 16px;
}

.selectLabel {
  font-family: Poppins, sans-serif;
}

.selectIcon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
}

.submitButton {
  border-radius: 8px;
  background-color: #486a75;
  align-self: end;
  margin-top: 50px;
  width: 220px;
  max-width: 100%;
  color: #fff;
  white-space: nowrap;
  padding: 16px;
  font: 500 18px Poppins, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 991px) {
  .submitButton {
    margin-top: 40px;
    white-space: initial;
    padding: 0 20px;
  }
}

.submitButton:hover {
  background-color: #3b5361;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button.activeTab {
  background-color: #007bff;
  color: white;
}

.tabs button:hover {
  background-color: #d0d0d0;
}
