.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.detailsBox {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.details > p {
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.expressLaunching {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.audienceTargeting {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.tableContainer {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  overflow-x: auto;
}

.table {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* Adjust based on the number of columns */
  gap: 10px;
}

.metaAds {
  font-weight: bold;
  background-color: #1C252A;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

.levelHeader {
  background-color: #02B194;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

/* Header-specific colors */
.levelHeader1 {
  background-color: #02B194;
}

.levelHeader2 {
  background-color: #FFC456;
}

.levelHeader3 {
  background-color: #E86A6D;
}

.levelHeader4 {
  background-color: #0288D1;
}

.planWeek {
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 10px;
}

.startingDay {
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 10px;
}

.invest {
  background-color: #BBCCD1;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 10px;
}

.numAds {
  background-color: #BBCCD1;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 10px;
}

.toMessages {
  background-color: #BBCCD1;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 10px;
}

.toLink {
  background-color: #BBCCD1;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 10px;
}

.dailyBudget {
  background-color: #BBCCD1;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 10px;
}

.createCampaignButtonBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.createCampaignButton {
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.createCampaignButton:hover {
  background-color: #2563eb;
}
