.container {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  padding: 50px 60px;
  margin: 20px auto;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: #222;
  font: 700 28px Poppins, sans-serif;
  text-align: center;
}

.description {
  color: #526067;
  margin-top: 16px;
  font: 500 18px/32px Montserrat, sans-serif;
  text-align: center;
}

.formContainer {
  border-radius: 16px;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: column;
  padding: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  justify-content: center;
}

@media (max-width: 991px) {
  .formContainer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.imageUploadLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  max-width: 500px;
}

.imageUploadLabel input {
  display: none;
}

.imagePreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  max-width: 500px;
}

.imageDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.previewImage {
  max-height: 500px;
  max-width: 480px;
  object-fit: cover;
}

.removeImageButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff4d4d;
}

.uploadButton {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}

.backButton,
.submitButton {
  border-radius: 8px;
  color: #fff;
  white-space: nowrap;
  padding: 16px;
  font: 500 18px Poppins, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
}

.backButton {
  background-color: #6c757d;
}

.submitButton {
  background-color: #007bff;
}

.submitButton:hover {
  background-color: #0056b3;
}

.backButton:hover {
  background-color: #5a6268;
}
