.container {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 80px;
  border: 1px solid #050505;
  margin: 8px auto;
  height: calc(100vh - 16px);
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: #222;
  align-self: stretch;
  font: 600 24px Poppins, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
  }
}

.description {
  color: #526067;
  align-self: stretch;
  margin-top: 16px;
  font: 500 18px/32px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.processingImage {
  aspect-ratio: 1.25;
  object-fit: auto;
  object-position: center;
  width: 164px;
  margin-top: 80px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .processingImage {
    margin-top: 40px;
  }
}

.processingText {
  text-align: center;
  color: #526067;
  margin-top: 24px;
  font: 700 16px/24px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .processingText {
    max-width: 100%;
  }
}

.progressContainer {
  border-radius: 16px;
  background-color: #f2f4f5;
  display: flex;
  margin-top: 24px;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
}

.progressBar {
  border-radius: 16px;
  background-color: #526067;
  height: 7px;
}

@media (max-width: 991px) {
  .progressBar {
    max-width: 100%;
  }
}
