.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.stepContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkIcon {
  border-radius: 50%;
  background-color: #486A75;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
}

.completed {
  background-color: #00BFFF;
}

.checkImage {
  width: 16px;
  height: auto;
}

.stepText {
  color: #486A75;
  font: 600 12px Poppins, sans-serif;
}

.progressBar {
  flex: 1;
  height: 2px;
  background-color: #486A75;
}
