.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.stepContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.icon {
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}

.completed {
  background-color: #00BFFF;
}

.activeStep .icon {
  background-color: #00BFFF;
  color: white;
}

.stepText {
  color: #486A75;
  font: 600 12px Poppins, sans-serif;
}

.progressLine {
  flex-grow: 1;
  height: 2px;
  background-color: #486A75;
  margin: 0 10px;
}

.stepContainer:nth-child(2) .progressLine,
.stepContainer:nth-child(3) .progressLine {
  background-color: #f0f0f0;
}
