.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    
  }
  
  .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .detailsBox {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .details > p {
    margin: 0;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .expressLaunching {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .audienceTargeting {
    background-color: #e0e0e0;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 18px;
  }
  
  .tableContainer {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 18px;  
    padding: 15px;
    overflow-x: auto;
  }
  
  .table {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Adjust based on the number of columns */
    gap: 10px;
  }
  
  .metaAds {
    font-weight: bold;
    background-color: #1C252A;
    color: #FFFFFF;
  }
  
  .levelHeader {
    background-color: #02B194;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  .levelHeader {
    font-weight: bold;
    color: #FFFFFF;
  }
  
  /* Header-specific colors */
  .levelHeader1 {
    background-color: #02B194;
  }
  
  .levelHeader2 {
    background-color: #FFC456;
  }
  
  .levelHeader3 {
    background-color: #E86A6D;
  }
  
  .levelHeader4 {
    background-color: #0288D1;
  }
  
  .planWeek {
    background-color: #ffffff;
    color: black;
  }
  
  .startingDay {
    background-color: #ffffff;
    color: black;
  }
  
  .invest {
    background-color: #BBCCD1;
    font-weight: bold;
    color: black;
  }
  
  .numAds {
    background-color: #BBCCD1;
    font-weight: bold;
    color: black;
  }
  
  .toMessages {
    background-color: #BBCCD1;
    font-weight: bold;
    color: black;
  }
  
  .toLink {
    background-color: #BBCCD1;
    font-weight: bold;
    color: black;
  }
  
  .dailyBudget {
    background-color: #BBCCD1;
    font-weight: bold;
    color: black;
  }
  