.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.detailsBox {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.details > p {
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 18px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.expressLaunching {
  background-color: #000;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}

.audienceTargeting {
  background-color: #e0e0e0;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 18px;
}

.tableContainer {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 18px;  
  padding: 15px;
  overflow-x: auto;
}

.table {
  display: grid;
  grid-template-columns: repeat(7, minmax(230px, 1fr)); /* Adjust based on the number of columns */
  gap: 10px;
  min-width: 600px; /* Adjust based on the minimum width */
}

.metaAds {
  font-weight: bold;
  background-color: #1C252A;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.levelHeader {
  background-color: #02B194;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header-specific colors */
.levelHeader1 {
  background-color: #02B194;
}

.levelHeader2 {
  background-color: #FFC456;
}

.levelHeader3 {
  background-color: #E86A6D;
}

.levelHeader4 {
  background-color: #0288D1;
}

.planWeek, .startingDay, .invest, .numAds, .toMessages, .toLink, .dailyBudget {
  background-color: #BBCCD1;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blurEffect {
  filter: blur(5px);
  position: relative;
}

.blurEffect::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007bff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.scrollContainer {
  overflow-x: auto;
}

.scrollContainer::-webkit-scrollbar {
  height: 8px; /* Adjust the height as per your design */
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: #E3E7EB; /* This matches the background color of your scrollbar track */
  border-radius: 10px; /* Adjust this for rounded corners */
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #CBD2D9; /* This matches the color of the scrollbar thumb */
  border-radius: 10px; /* Adjust this for rounded corners */
  border: 2px solid #E3E7EB; /* Border color to match the track color for a subtle effect */
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #B0BEC5; /* Slightly darker shade for hover effect */
}

/* For Firefox */
.scrollContainer {
  scrollbar-width: thin;
  scrollbar-color: #CBD2D9 #E3E7EB;
}
