.container {
  border-radius: 16px;
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 86vh;
  flex-direction: column;
  padding: 34px 32px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: #222;
  font: 600 18px Poppins, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .title {
    max-width: 100%;
  }
}

.description {
  color: #526067;
  margin-top: 8px;
  font: 500 12px/24px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}

.progressBar {
  align-self: center;
  display: flex;
  margin-top: 32px;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .progressBar {
    flex-wrap: wrap;
  }
}

.progressStep {
  border-radius: 24px;
  background-color: #f2f4f5;
  align-self: stretch;
  display: flex;
  gap: 8px;
  padding: 8px 16px;
}

.progressIcon {
  border-radius: 24px;
  background-color: #7c9ba5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  padding: 4px;
}

.progressIconImage {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 19px;
}

.progressLabel {
  color: #7c9ba5;
  margin: auto 0;
  font: 600 12px Poppins, sans-serif;
}

.progressLine {
  border-radius: 2px;
  background-color: #bbccd1;
  align-self: stretch;
  height: 2px;
  flex: 1;
  margin: auto 0;
}

.progressStepInactive {
  align-self: stretch;
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #bbccd1;
  font-weight: 600;
  white-space: nowrap;
  justify-content: space-between;
  padding: 8px;
}

@media (max-width: 991px) {
  .progressStepInactive {
    white-space: initial;
  }
}

.formContainer {
  border-radius: 16px;
  background-color: #f2f4f5;
  display: flex;
  flex-direction: column;
  padding: 42px 50px 68px;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

@media (max-width: 991px) {
  .formContainer {
    padding: 20px;
  }
}

.formGrid {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #222;
  font-weight: 600;
  width: 100%;
  margin-bottom: 20px;
}

.formLabel {
  font-family: Poppins, sans-serif;
  margin-bottom: 8px;
}

.optionsGroup {
  display: flex;
  gap: 20px;
  font-weight: 400;
  justify-content: space-between;
}

.optionItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox {
  border-radius: 8px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  border: 1px solid #486a75;
}

.optionLabel {
  font-family: Poppins, sans-serif;
}

.selectWrapper {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  margin-top: 8px;
  gap: 20px;
  font-weight: 400;
  justify-content: space-between;
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
}

.submitButton {
  border-radius: 8px;
  background-color: #486a75;
  color: #fff;
  white-space: nowrap;
  padding: 8px;
  font: 500 14px Poppins, sans-serif;
  margin-top: 32px;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}
