/* DatePickerComponent.module.css */

.card {
  display: flex;
  align-items: center;
  width:100%;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toggleButtonGroup {
  display: flex;
  padding: 0.3rem;
  border-radius: 15px;
  width: 66.5%;
  background-color: #ffffff;
  gap: 0.3rem;
  justify-content: space-between;
}

.toggleButton {
  background-color: transparent;
  color: #859096;
  border-radius: 10px;
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  padding: 0.31rem 2rem;
}

.toggleButton:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #e0e0e0;
  color: #486A75;
  font-weight: 600;
}

.datePickerBox {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Centers everything */
  border-radius: 15px;
  background-color: #ffffff;
  width: 32.7%;
  flex-wrap: wrap; /* Allow wrapping on small screens */
  padding: 0.3rem 0.5rem;
}

.cardContent {
  display: flex;
  justify-content: space-between; /* Pushes elements apart */
}

.leftdatePickerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.rightdatePickerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.datePickerInput {
  width: 250px;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #859096;
  background-color: #fff;
  padding: 0.2rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  cursor: pointer;
}

.datePickerInput:hover {
  border: 1px solid rgb(178, 197, 202);
}

.datePickerSeparator {
  color: grey;
  padding: 0 0.5rem;
}

/* Custom style for the left datepicker wrapper */
.leftDateWrapper .react-datepicker {
  background-color: lightblue;
  border-radius: 12px;
  padding: 10px;
  margin-right: 10px;
}

.leftDateWrapper .react-datepicker__month-container {
  float: left;
  margin-left: 20px; /* Push the left calendar a bit to the right */
}

.iconButton {
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.todayButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 0 0 4px 4px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  height: 40px; /* Adjust height if needed */
}

.todayButton:hover {
  background-color: #0056b3;
}

.customHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.calButton {
  padding: 0rem 0.6rem;
  cursor: default;
}

/* Apply styles when screen width is 375px or below */
@media (max-width: 2360px) {
  .datePickerInput {
    width: 230px;
  }
}

@media (max-width: 2235px) {
  .datePickerInput {
    width: 200px;
  }
}

@media (max-width: 2061px) {
  .datePickerInput {
    width: 180px;
  }
}

@media (max-width: 1930px) {
  .datePickerInput {
    width: 130px;
  }
}

@media (max-width: 1686px) {
  .datePickerInput {
    width: 110px;
  }
}

@media (max-width: 1508px) {

  .datePickerBox {
    width: 39%;
  }

  .datePickerInput {
    width: 8rem;
  }

  .toggleButtonGroup {
    width: 60%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 1420px) {

  .datePickerBox {
    width: 44%;
  }

  .datePickerInput {
    width: 8rem;
  }

  .toggleButtonGroup {
    width: 55%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 1306px) {

  .datePickerBox {
    width: 49%;
  }

  .datePickerInput {
    width: 8rem;
  }

  .toggleButtonGroup {
    width: 50%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 1257px) {
  .ClickThroughRate {
    font-size:'0.3rem'
  }
}

@media (max-width: 1218px) {

  .card {
    display: flex;
  }

  .datePickerBox {
    width: 47%;
  }

  .datePickerInput {
    width: 7rem;
  }

  .toggleButtonGroup {
    width: 52%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 1200px) {

  .datePickerBox {
    width: 49%;
  }

  .datePickerInput {
    width: 12rem;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #333;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
  }

  .toggleButtonGroup {
    width: 50%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 1145px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 25rem;
  }

  .toggleButtonGroup {
    width: 100%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 1145px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 25rem;
  }

  .toggleButtonGroup {
    width: 100%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 980px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 20rem;
  }

  .toggleButtonGroup {
    width: 100%;
  }

  .toggleButton {
    padding: 0.31rem 1rem;
  }
}

@media (max-width: 822px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 15rem;
  }
}

@media (max-width: 662px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 12rem;
  }
}

@media (max-width: 662px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 10rem;
  }
}

@media (max-width: 486px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 7rem;
  }
}

@media (max-width: 390px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 6rem;
  }

  .toggleButtonGroup {
    width: 100%;
  }

  .toggleButton {
    padding: 0.31rem 0.5rem;
  }
}

@media (max-width: 360px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 5rem;
  }

  .toggleButtonGroup {
    width: 100%;
  }

  .toggleButton {
    padding: 0.31rem 0.5rem;
  }
}

@media (max-width: 326px) {

  .card{
    gap: 0.5rem;
  }

  .datePickerBox {
    width: 100%;
  }

  .datePickerInput {
    width: 3rem;
  }

  .toggleButtonGroup {
    width: 100%;
  }

  .toggleButton {
    padding: 0.31rem 0.5rem;
  }
}

